*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1370px;
    margin: 0 auto;
}
/* img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
} */
.headerMenu{
    background: black;
    text-align: center;
}
.headerMenu ul li{
    display: inline-block;
    position: relative;
}
.headerMenu ul li a {
    text-decoration: none;
    color: #afa0a0;
    padding: 80px 17px;
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
}
.headerMenu ul li:hover >a{
    color: white;
}
.headerMenu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    width: 200px;
    opacity: 0;
    visibility: hidden;
}
.headerMenu ul li ul li{
    display: block;
    position: relative;
}
.headerMenu ul li ul li a {
    padding: 15px 24px;
    font-size: 20px;
    display: block;
}
.headerMenu ul li ul li:first-child a{
    border-top: 6px solid #4271d5;
}
.headerMenu ul li ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
    background: black;
    width: 200px;
    display: none;
}
.headerMenu ul li ul li ul li{
    display: block;
}
.headerMenu ul li ul li ul li a{
    padding: 15px 24px;
    font-size: 20px;
    display: block;
}

/* hover part */
.headerMenu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.headerMenu ul li ul li:hover > a{
    background: #4271d5;
}
.headerMenu ul li ul li:hover ul{
    display: block;
}
.hero{
    background-image: url(./young-mens\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 250px 0;
}
.hero h1{
    background: white;
    display: inline-block;
    padding: 15px;
    font-size: 50px;
}
.hero h4{
    background: white;
    font-size: 25px;
    display: block;
    margin: 10px 30px;
    padding: 7px 0;
}
.hero a{
    background: red;
    display: inline-block;
    border: 2px solid red;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
.hero a:hover{
    background: white;
    color: black;
}
.outSide{
    text-align: center;
    padding: 40px;
    box-shadow: 1px 1px 3px black;
    margin: 17px 0;
}
.outSide ul{
    list-style-position: outside;
    text-align: justify;
}
.outSide ul h3{
    font-size: 30px;
    text-align: center;
    padding: 12px;
}
.inSide{
    padding: 40px;
    box-shadow: 1px 1px 8px black;
    margin: 17px 0;
}
.inSide ul{ 
    list-style-position: inside;
    text-align: justify;
}
.inSide ul h3{
    font-size: 30px;
    text-align: center;
    padding: 12px;
}
.subscribeSection{
    text-align: center;
    background: #f2f2f2;
    padding: 50px;
    margin: 15px 0;
}
.email{
    width: 60%;
    padding: 20px 10px;
    border: 1px solid red;
    font-size: 15px;
    outline: none;
}
.now{
    background: red;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-left: -4px;
    border: 2px solid red;
    outline: none;
}
.now:hover{
    background: white;
    color: black;
}
.listItem{
    text-align: center;
    padding: 25px 0;
    border: 2px dashed black;
    font-size: 20px;
}
.listItem h2{
    padding: 20px;
}
.firstList{
    width: 250px;
    margin: 0 30px;
    display: inline-block;
}
.sceoundList{
    width: 250px;
    margin: 0 30px;
    display: inline-block;
}
.thrdList{
    width: 250px;
    margin: 0 30px;
    display: inline-block;
}
.firstList ul li{
    list-style-type: lower-roman;
}
.sceoundList ul li{
    list-style-type: square;
}
.thrdList ul li{
    list-style-type: lower-greek;
}
.footerSection {
    background: black;
    text-align: center;
    color: white;
    padding: 30px;
}
.footerSection ul li{
    display: inline-block;
    padding: 10px;
    font-size: 40px;
}
i{
    color: #5ea5fa;
}
i:hover{
    color: white;
}